{% extends 'class_layout.html' %}

{% block title %} {{tittle}} {% endblock %}

{% block cssfile %}
<!-- Card Style And Upload Button -->
<style>
    #Upload_button {
        text-decoration: none;
        color: white
    }

    .classes_get {
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 1.5rem;
        padding-top: 1.5rem;
    }

    .classes_get_material {
        background-color: #fff;
        -webkit-border-radius: 0.5rem;
        border-radius: 0.5rem;
        border: none;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        height: auto;
        margin-bottom: 1.5rem;
        margin-right: 1.5rem;
        overflow: hidden;
        position: relative;
        text-align: left;
        color: black;
    }

    ol {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    @media (min-width: 801px) {

        .card.classes_get_material.col-md-3 {
            max-width: 30rem !important;
            min-width: 21rem;
        }

        .card.classes_get_material.col-md-3 {
            margin-right: 1.75rem !important;
        }
    }

    @media (max-width: 801px) {

        .card.classes_get_material.col-md-3 {
            max-width: 30rem !important;
            min-width: 22rem;
        }

        .card.classes_get_material.col-md-3 {
            margin-right: 0.75rem !important;
        }
    }

    @media (max-width: 510px) {

        .card.classes_get_material.col-md-3 {
            max-width: 34rem !important;
            min-width: 22rem;
        }

        .card.classes_get_material.col-md-3 {
            margin-right: 0.15rem !important;
        }

        .classes_get.row {
            padding-left: 0.15rem !important;
        }
    }

    .class_footer_for {
        border-top: .0625rem solid #e0e0e0;
        line-height: 0;
        padding: 0.25rem;
        background-color: #fff !important;
    }

    .class_heading_for2 {
        max-height: 14rem;
        min-height: 7.5rem;
        position: relative;
        background-image: url("{{ url_for('static', filename='bg_class4.jpg') }}");
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        flex-shrink: 0;
    }

    .class_heading_for {
        position: relative;
        max-height: 14rem;
        min-height: 7.5rem;
        background-image: url("{{ url_for('static', filename='bg_class3.jpg') }}");
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        flex-shrink: 0;
    }

    .class_heading_for3 {
        position: relative;
        background-color: url("{{ url_for('static', filename='bg_class1.jpg') }}");
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        max-height: 14rem;
        min-height: 7.5rem;
        flex-shrink: 0;
    }

    .bg {
        background-image: url("{{ url_for('static', filename='bg_class1.jpg') }}");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .class_heading_for4 {
        max-height: 14rem;
        min-height: 7.5rem;
        position: relative;
        background-image: url("{{ url_for('static', filename='bg_class1.jpg') }}");
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        flex-shrink: 0;
    }

    .class_name {
        font-size: 1.55rem;
        text-align: left;
        margin: 1rem;
        margin-bottom: 2.25rem;
    }

    .class_name a {
        text-decoration: none;
    }

    .class_name a {
        color: #fff !important;
    }

    .class_subname {
        text-align: left;
        margin: 1rem;
        margin-bottom: 1rem;
        margin-top: 0rem;
        font-size: 1.25rem;
    }

    .card-heading.class_heading_for :hover {
        cursor: pointer;
    }

    .card-heading.class_heading_for2 :hover {
        cursor: pointer;
    }

    .card-heading.class_heading_for3 :hover {
        cursor: pointer;
    }

    .card-heading.class_heading_for4 :hover {
        cursor: pointer;
    }

    .go {
        padding: 0.55rem;
        fill: #a2acba;
        color: #a2acba;
    }

    .go svg {
        margin-top: -0.25rem;
        float: right !important;
    }

    .class_name_svg {
        color: #fff;
        fill: #fff;

    }

    .card.classes_get_material.col-md-3 {
        padding-left: 0;
        padding-right: 0;
        margin-right: 2.5rem;
    }

    .heading_class {
        margin-bottom: 0.35rem;
    }

    .inform_ing {
        color: black;
        margin-top: 0.5rem;
        margin-bottom: 0.9rem;

    }
</style>
<!-- Nav2 And Media Screen -->
<style>
    @media(max-width: 450px) {
        #_440 {
            display: none;
        }
    }

    @media(max-width: 436px) {
        .bg.container-fluid {
            height: 200px !important;
        }
    }

    @media(max-width: 991px) {
        .bg.container-fluid {
            height: 200px !important;
        }
    }

    @media(max-width: 850px) {

        #layoutSidenav_content.scrollable {
            height: calc(100vh - 7.25rem) !important;
            display: block;
            overflow-y: auto;
        }
    }

    @media(max-width: 850px) {
        #class_nav1 {
            box-shadow: none;
        }


        #tab_class {
            display: none !important;
        }

        .side-nav {
            padding-top: 7.25rem !important;
        }

        #layoutSidenav_content {
            top: 7.25rem !important;
            min-height: calc(100vh - 7.5rem) !important;
        }

        #class_nav2.shadow2 {
            box-shadow: 0 1rem 1rem 0 rgba(58, 59, 69, .15) !important;
            padding-top: 0rem !important;
        }
    }

    @media(min-width: 850px) {
        #class_nav2 {
            display: none;
        }

        #making_item {
            display: none !important;
        }
    }


    #class_nav2.shadow2 {
        box-shadow: 0 1rem 1rem 0 rgba(58, 59, 69, .15) !important;
        padding-top: 0rem !important;
    }

    #tab_class {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
        color: black !important;
        width: max-content;
    }

    #tab_class .nav-item .nav-link {
        color: black !important;
    }

    #tab_class .nav-item .nav-link.active {
        color: #007b83 !important;
        border-bottom: solid 0.125rem transparent;
        -webkit-border-radius: 0.25rem 0.25rem 0 0;
        border-radius: 0.25rem 0.25rem 0 0;
        border-color: #007b83;
    }

    #tab_class2 {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
        color: black !important;
        width: max-content;
    }

    #tab_class2 .nav-item .nav-link {
        color: black !important;
    }

    #tab_class2 .nav-item .nav-link.active {
        color: #007b83 !important;
        border-bottom: solid 0.125rem transparent;
        -webkit-border-radius: 0.25rem 0.25rem 0 0;
        border-radius: 0.25rem 0.25rem 0 0;
        border-color: #007b83;
    }
</style>
<!-- Modal And Other -->
<style>
    .modal-backdrop.show {
        opacity: 0.26;
    }

    .modal {
        z-index: 10000000;
        background-color: rgba(0, 0, 0, 0);
    }

    .navbar-nav.mx-2 {
        padding-right: 5.5rem !important;
    }

    .bg {
        background-image: url("{{ url_for('static', filename='bg_class1.jpg') }}");
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
<!-- Meeting Classwork Test Dropdown -->
<style>
    #meeting_collapse.collapsed .sidenav-collapse-arrow {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    #meeting_collapse:hover {
        cursor: pointer;
    }

    #meeting_table_content.card-body.collapsed {
        overflow: hidden;
        height: 0px;
        min-height: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .card-body.collapsed {
        overflow: hidden;
        height: 0px;
        min-height: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
</style>
<!-- Data Table Css -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
<!-- Table  -->
<style>
    .to-mb-4 .card-header {
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
    }

    .to-mb-4 .card-header .card-name-dropdown,
    .to-mb-4 .card-header .card-modal-button {
        height: 48px !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .to-mb-4 .card-header .card-name-dropdown {
        display: inline-flex;
    }


    .responsive_table {
        width: 100%;
    }

    #table_overflow {
        overflow: scroll;
        width: 100%;
    }

    .responsive_table::-webkit-scrollbar {
        display: none;
    }

    #table_overflow::-webkit-scrollbar {
        display: none;
    }

    .main {
        margin-left: auto;
        margin-right: auto;
    }

    tr.odd {
        background-color: transparent !important;
    }

    tr.odd>.sorting_1 {
        background-color: transparent !important;
    }

    td {
        min-width: 6.9rem;
        max-width: 15rem;
    }

    tr.even>.sorting_1 {
        background-color: transparent !important;
    }

    th {
        color: #0061f2 !important;
        padding: 0.75rem !important;
        padding-right: 30px !important;
        font-weight: 600 !important;
        border-bottom: 2px solid #e0e5ec !important;
    }

    .table-bordered td,
    .table-bordered th {
        border: none;
        border-right: 1px solid #e0e5ec !important;
    }

    .table-bordered td {
        border: 1px solid #e0e5ec;
        border-bottom-width: 0;
        border-left-width: 0;
    }

    table.dataTable.no-footer {
        border-bottom: 1px solid #e0e5ec !important;
        border-right-width: 0;
    }

    .table td {
        padding: 0.75rem !important;
        color: #69707a !important;
    }
</style>

<!-- Special -->
<style>
    .bg {
        background-color: #0061f2;
        background-image: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%);
    }
</style>
<!-- Modal -->
<style>
    .custom-file-upload {
        border: none;
        border-bottom: 1px solid #e1e1e1;
    }

    .custom-file1 {
        margin-bottom: -0.3rem !important;
    }

    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    ::-webkit-file-upload-button {
        display: none;
    }
</style>


{% endblock %}

{% block nav_edit %}
<div class="dis" id="making_item">
    <form class="form-inline mr-auto ">
        <div class=" mr-sm-2"> </div>
    </form>
</div>
<div class="container" id="tab_class">
    <ul class="nav ">
        <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link Discuss" href="" class="">Discuss</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  Participant" href="" class="Participant">Participant</a>
        </li>
    </ul>
</div>
{% endblock %}


{% block other_nav %}
<nav class="topnav navbar  navbar-expand shadow2 topbar navbar-light bg-white" id="class_nav2">

    <div class="container" id="tab_class2">
        <ul class="nav ">
            <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  Discuss" href="#">Discuss</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  Participant" href="#">Participant</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block coreli %}
<a class="nav-link " href="/">
    <div class="nav-link-icon ">
        <i-feather class="icon" style="width: 1rem !important;"><svg xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24" class="feather feather-book-open">
                <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
                <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
            </svg></i-feather>
    </div>
    Home
</a>
<a class="nav-link">
    <div class="nav-link-icon">
        <i-feather class="icon" style="width: 1rem !important;"><svg xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24" class="feather feather-activity">
                <polyline points="22 12 18 12 15 21 9 3 6 12 2 12">
                </polyline>
            </svg></i-feather>
    </div>
    Messages
</a>
{% endblock %}

{% block Interfaces %}
<div>
    <a class="nav-link collapsed active" id="classes">
        <div class="nav-link-icon">
            <i-feather class="icon" style="width: 1rem !important;"><svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" class="feather feather-layout">
                    <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
                    <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
                </svg></i-feather>
        </div>
        Classes
        <div class="sidenav-collapse-arrow float-left">
            <fa-icon class="ng-fa-icon ml-auto"><svg data-icon="angle-down" class="svg-inline--fa fa-angle-down fa-w-10"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                    <path fill="currentColor"
                        d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z">
                    </path>
                </svg></fa-icon>
        </div>
    </a>
    <nav class="sidenav-menu-nested nav collapsed" id="classes_content">
        <div class="submenu collapsed">
            <a class="nav-link">
                <span class="nav-link-icon" style="width: 1rem !important;">
                    <span class="fa fa-plus fa-fw"></span></span>
                {%if current_user.role == 'Teacher' %}
                <span id="class_create">Create Class</span>
                {% endif %}
                {%if current_user.role == 'Student' %}
                <span id="class_join">Join Class</span>
                {% endif %}
            </a>
        </div>
    </nav>
</div>
<div>
    <a class="nav-link ">
        <div class="nav-link-icon">
            <i-feather class="icon" style="width: 1rem !important;"><svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" class="feather feather-repeat">
                    <polyline points="17 1 21 5 17 9"></polyline>
                    <path d="M3 11V9a4 4 0 0 1 4-4h14"></path>
                    <polyline points="7 23 3 19 7 15"></polyline>
                    <path d="M21 13v2a4 4 0 0 1-4 4H3"></path>
                </svg></i-feather>
        </div>
        <!----> Meeting
    </a>
</div>
<div>
    <a class="nav-link ">
        <div class="nav-link-icon">
            <i-feather class="icon" style="width: 1rem !important;"><svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" class="feather feather-layout">
                    <path
                        d="M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.77-3.77a6 6 0 0 1-7.94 7.94l-6.91 6.91a2.12 2.12 0 0 1-3-3l6.91-6.91a6 6 0 0 1 7.94-7.94l-3.76 3.76z">
                    </path>
                </svg></i-feather>
        </div>
        <!----> Test
    </a>
</div>
{% endblock %}

{% block performance %}
<a class="nav-link ">
    <div class="nav-link-icon">
        <i-feather class="icon" style="width: 1rem !important;"><svg xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24" class="feather feather-layout">
                <line x1="12" y1="20" x2="12" y2="10"></line>
                <line x1="18" y1="20" x2="18" y2="4"></line>
                <line x1="6" y1="20" x2="6" y2="16"></line>
            </svg></i-feather>
    </div>
    <!----> Performance
</a>
{% endblock %}

{% block modal %}
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true"
    style="overflow-y: scroll;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">{{class_name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Modal Body (asking classwork type) -->
            <div class="modal-body" id="exampleModalBody2">
                <form class="signup-form" style="padding: 10px 0;" action="/class/{{href_window}}/add-new-classwork"
                    method="post" onsubmit="upload_final(this)" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="input-group">
                            <p class=""
                                style="padding-top: 0.5rem !important; ">Do You really want to delete this class work</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="previous_classwork"
                            data-target="#exampleModal2" data-toggle="modal" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" id="upload_classwork">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Class Poster -->
<div class="bg container-fluid" style="height:120px;">
    <h3 style="color:white;padding-top:40px;">{{tittle}}</h3>
</div>
<!-- Poster End -->
{% endblock %}

{% block main_code %}
<!-- Class Work Card -->

<div class="container-fluid mt-n10">

    <div class="card to-mb-4 mt-4 mb-4">
        <div class="card-header collapsed" id="meeting_collapse"
            style="color: #0061f2; font-weight:500; font-family: 'Segoe UI',  Arial, sans-serif">
            <div class="card-name-dropdown">
                <span>{{ class_name }}</span>
            </div>
            <div class="float-right card-modal-button">
                <button class="btn btn-outline-danger " class="Upload_button" id="modal_toggle_button2"
                    data-toggle="modal" data-target="#exampleModal2">
                    Delete Classwork
                </button>
            </div>
        </div>
        <div class="card-body" id="meeting_table_content">
            <div id="responsive" class="responsive_table">
                <table id="example" class="display table table-bordered table-hover " style="width: 99.9%;"> </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scriptfile %}

<!-- Loader And Link -->
<script>
    function loader_true() {
        var loader = document.getElementById("preloader")
        loader.style.display = 'none'

        if (window.innerWidth <= 1000) {
            $('#layoutSidenav_nav').addClass('remove_padding')
            $('#layoutSidenav_content').addClass('adding_padding')
        }

    }
    var href_window = "{{href_window}}"
    $(".Participant").attr("href", `/class/${href_window}/participants`)
    $(".Discuss").attr("href", `/class/${href_window}/discuss`)
</script>


<!---------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------Tables For Classwork----------------------------------------------->

<!-- Javascript File for table -->

<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

</script>

<!-- Table variable declaratio-->
<script>
    var list_pdf_urls = [];
    let table_column_heading = ['Name', 'Submission Date', 'View']
</script>

<script>
    let part_email = {{ st_email_li | safe }}
    let st_pdfs = {{ st_pdf | safe }}
    let participant = {{ participants | safe }}
    var claswrk_dataSet = []
    let cls_sno = `{{ cls_id }}`
    let cls_name = `{{ class_name }}`
    var list_pdf_urls = []

    for (let item in part_email) {
        claswrk_dataSet[item] = []
        claswrk_dataSet[item][0] = participant[part_email[item]];
        claswrk_dataSet[item][1] = st_pdfs[part_email[item]][1];
        claswrk_dataSet[item][2] = `<btn class="btn btn-primary view_classwork classwork" id="${st_pdfs[part_email[item]][0]}_view_file">Download</btn>`;
        list_pdf_urls[item] = [];
        list_pdf_urls[item][1] = participant[part_email[item]] + "_" + cls_name;
        list_pdf_urls[item][0] = st_pdfs[part_email[item]][0];
    }

</script>

<!--Setting Table -->
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            data: claswrk_dataSet,
            columns: [
                { title: table_column_heading[0] },
                { title: table_column_heading[1] },
                { title: table_column_heading[2] }
            ]
        });

        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        // Fixing overflow error

        // Create a new div element
        var newDiv = document.createElement("div");
        newDiv.id = "table_overflow";
        var table = document.getElementById("example");
        newDiv.appendChild(table);
        var parentDiv = document.getElementById("example_wrapper");
        var thirdDiv = parentDiv.children[2];
        parentDiv.insertBefore(newDiv, thirdDiv);



        // Adding function to the Download classwork Option
        let class_id = `{{ id }}`

        for (let item in list_pdf_urls) {
            let id_url = `${list_pdf_urls[item][0]}`
            document.getElementById(`${id_url}_view_file`).addEventListener("click", (e) => {
                $.ajax({
                    url: `/class/classwork/pdf/${id_url}`,
                    type: "POST",
                    data: {
                        "classid": class_id,
                        "class_sno": cls_sno
                    },
                    success: function (resp) {
                        var blob = new Blob([resp]);
                        var url = URL.createObjectURL(blob);

                        // Create a temporary anchor element
                        var a = document.createElement('a');
                        a.href = url;

                        a.download = list_pdf_urls[item][1];
                        document.body.appendChild(a);
                        a.click();

                        // Cleanup
                        document.body.removeChild(a);
                        URL.revokeObjectURL(url);
                    },
                    error: function (e) {
                        alert("Problem in getting pdf file.\nPlease reload the page")
                    }
                })

            })
        }

    });
</script>

<!---------------------------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------Script End-------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------->
{% endblock %}