{% extends 'class_layout.html' %}

{% block title %} Join Class {% endblock %}

{% block cssfile %}
<style>
    .main .page-header {
        display: none;
    }
</style>
<!-- Modal loader -->
<style>
    #modal_loader::before {
        display: block;
        height: min-content;
        content: "";
        position: fixed;
        top: calc(50% - 30px);
        left: calc(50% - 30px);
        border: 6px solid #5fcf80;
        border-top-color: transparent;
        border-bottom-color: transparent;
        border-radius: 50%;
        width: 60px;
        height: 60px !important;
        -webkit-animation: animate-preloader 1s linear infinite;
        animation: animate-preloader 1s linear infinite;
    }

    #modal_loader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9999;
        overflow: hidden;
        background: transparent;
    }

    #modal_loader_none {
        display: none;
    }
</style>
{% endblock %}

{% block coreli %}
<a class="nav-link" href="/">
    <div class="nav-link-icon ">
        <i-feather class="icon" style="width: 1rem !important;"><svg xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24" class="feather feather-book-open">
                <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
                <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
            </svg></i-feather>
    </div>
    Home
</a>
<a class="nav-link">
    <div class="nav-link-icon">
        <i-feather class="icon" style="width: 1rem !important;"><svg xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24" class="feather feather-activity">
                <polyline points="22 12 18 12 15 21 9 3 6 12 2 12">
                </polyline>
            </svg></i-feather>
    </div>
    Messages
</a>
{% endblock %}

{% block nav_edit %}
<div class="dis">
    <form class="form-inline mr-auto ">
        <div class=" mr-sm-2"> </div>
    </form>
</div>
{% endblock %}

{% block Interfaces %}
<div>
    <a class="nav-link collapsed active" id="classes">
        <div class="nav-link-icon">
            <i-feather class="icon" style="width: 1rem !important;"><svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" class="feather feather-layout">
                    <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
                    <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
                </svg></i-feather>
        </div>
        Classes
        <div class="sidenav-collapse-arrow float-left">
            <fa-icon class="ng-fa-icon ml-auto"><svg data-icon="angle-down" class="svg-inline--fa fa-angle-down fa-w-10"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                    <path fill="currentColor"
                        d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z">
                    </path>
                </svg></fa-icon>
        </div>
    </a>
    <nav class="sidenav-menu-nested nav collapsed" id="classes_content">
        <div class="submenu collapsed">
            <a class="nav-link active">
                <span class="nav-link-icon" style="width: 1rem !important;">
                    <span class="fa fa-plus fa-fw"></span></span>
                {%if current_user.role == 'Teacher' %}
                <span id="class_create">Create Class</span>
                {% endif %}
                {%if current_user.role == 'Student' %}
                <span id="class_join">Join Class</span>
                {% endif %}
            </a>
        </div>
    </nav>
</div>
<div>
    <a class="nav-link ">
        <div class="nav-link-icon">
            <i-feather class="icon" style="width: 1rem !important;"><svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" class="feather feather-repeat">
                    <polyline points="17 1 21 5 17 9"></polyline>
                    <path d="M3 11V9a4 4 0 0 1 4-4h14"></path>
                    <polyline points="7 23 3 19 7 15"></polyline>
                    <path d="M21 13v2a4 4 0 0 1-4 4H3"></path>
                </svg></i-feather>
        </div>
        <!----> Meeting
    </a>
</div>
<div>
    <a class="nav-link ">
        <div class="nav-link-icon">
            <i-feather class="icon" style="width: 1rem !important;"><svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" class="feather feather-layout">
                    <path
                        d="M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.77-3.77a6 6 0 0 1-7.94 7.94l-6.91 6.91a2.12 2.12 0 0 1-3-3l6.91-6.91a6 6 0 0 1 7.94-7.94l-3.76 3.76z">
                    </path>
                </svg></i-feather>
        </div>
        <!----> Test
    </a>
</div>
{% endblock %}

{% block performance %}
<a class="nav-link ">
    <div class="nav-link-icon">
        <i-feather class="icon" style="width: 1rem !important;"><svg xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24" class="feather feather-layout">
                <line x1="12" y1="20" x2="12" y2="10"></line>
                <line x1="18" y1="20" x2="18" y2="4"></line>
                <line x1="6" y1="20" x2="6" y2="16"></line>
            </svg></i-feather>
    </div>
    <!----> Performance
</a>
{% endblock %}

{% block modal %}

<div id="modal_loader" style="display: none;"></div>

{% endblock %}

{% block main_code %}
<div class="signup-form">
    <form id="join_class_form" action="/join-class"
                    method="post" style="margin-top: 2.5rem; border-radius: 1px;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid #f3f3f3;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 30%);
    padding: 30px;">
        <h2>Join Class</h2>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fas fa-book-open"></i></span>
                <input type="text" class="form-control" name="id" maxlength="15" minlength="15" placeholder="Class ID"
                    value="" id="id" required="required" style="background-color: white;">
            </div>
        </div>
        <div class="form-group" style="margin-bottom: 0; padding:0;">
            <span class="btn btn-primary text-center btn-block btn-lg" id="modal_loader_toggle"
                style="margin:0 auto;display:flex;margin-bottom: 1rem;font-size: 1.25rem;">Search Class</span>
        </div>
        <div class="form-group" style="display: none;" id="class_name_id">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="text" class="form-control" id="class_name" value="" disabled style="background-color: white;">
            </div>
        </div>
        <div class="form-group" style="margin-bottom: 0; padding:0;">
            <button type="submit" class="btn btn-primary text-center btn-block btn-lg" id="modal_class_button"
                style="margin:0 auto;display:flex;margin-bottom: 1rem;font-size: 1.25rem; display: none;">Add Request</button>
        </div>
    </form>
</div>

{% endblock %}

{% block last %}
<div class="modal-backdrop fade show" id="modal_loader_none"></div>
{% endblock %}

{% block scriptfile %}
<script>
    document.getElementById("modal_loader_toggle").addEventListener('click', (e) => {
        if ((document.getElementById("id").value.trim() == "") || (document.getElementById("id").value.trim().length != 15)) {
            $(".flashes").append(`<div class="alert alert-danger alert-dismissible fade show" role="alert">
                        Please enter valid CLASS ID
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>`)
        }
        else {
            document.getElementById("modal_loader_none").style.display = 'block'
            document.getElementById("modal_loader").style.display = 'block'
            $.ajax({
                url: "/get-class-name/",
                type: "POST",
                data: {
                    "class_id": document.getElementById("id").value
                },
                success: function (resp) {
                    if (resp != 'Problem' && resp != null) {
                        document.getElementById("modal_loader_none").style.display = 'none'
                        document.getElementById("modal_loader").style.display = 'none'
                        document.getElementById("modal_class_button").style.display = 'block'
                        document.getElementById("class_name_id").style.display = 'block'
                        document.getElementById("modal_loader_toggle").style.display = 'none'
                        document.getElementById("class_name").value = resp
                        document.getElementById("id").setAttribute("disabled", "")
                    }
                    else {
                        $(".flashes").append(`<div class="alert alert-danger alert-dismissible fade show" role="alert">
                        Problem in getting class name
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>`)
                    }
                },
                error: function () {
                    alert("Problem in getting classes")
                }
            })
        
        }

    })
</script>
<script>
    document.getElementById('join_class_form').addEventListener('submit', function() {
    document.getElementById('id').disabled = false;
});
</script>
{% endblock %}