{% extends 'singup_layout.html' %}


{% block title %}
Sign-up Student
{% endblock %}
{% block navli %}
<li class="nav-item d-flex no-caret dropdown"><a class=" nav-link pointer" href="\about">
        <div class="d-none d-md-inline font-weight-500">
            About Us</div>
    </a>
</li>
<li class="nav-item d-flex"><a class=" nav-link pointer" href="\login">
        <div class="d-none d-md-inline font-weight-500">
            LogIn<div>
                <div class="d-inline d-md-none font-weight-500">
                    LogIn</div>
    </a>
</li>
<li class="nav-item d-flex"><a class=" nav-link  active" href="\signup">
        <div class="d-none d-md-inline font-weight-800">
            Sign Up<div>
                <div class="d-inline d-md-none font-weight-900">
                    Sign Up</div>
    </a>
</li>
{% endblock %}

{% block coreli %}
<div>
    <a class="nav-link  collapsed" href="\about">
        <div class="nav-link-icon">
            <i-feather class="icon" style="width: 1rem !important;"><svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" class="feather feather-activity">
                    <polyline points="22 12 18 12 15 21 9 3 6 12 2 12">
                    </polyline>
                </svg></i-feather>
        </div>
        <!----> About Us
    </a>

</div>
{% endblock %}
{% block loginli %}
<div>
    <div>
        <a class="nav-link " href="\login">
            <div class="nav-link-icon">
                <i-feather class="icon" style="width: 1rem !important;"><svg xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24" class="feather feather-layout">
                        <path
                            d="M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.77-3.77a6 6 0 0 1-7.94 7.94l-6.91 6.91a2.12 2.12 0 0 1-3-3l6.91-6.91a6 6 0 0 1 7.94-7.94l-3.76 3.76z">
                        </path>
                    </svg></i-feather>
            </div>
            <!----> LogIn To Your Account
        </a>
    </div>


</div>
{% endblock %}
{% block newaccountli %}
<div>
    <a class="nav-link " href="\signup-teacher">
        <div class="nav-link-icon">
            <i-feather class="icon" style="width: 1rem !important;"><svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" class="feather feather-repeat">
                    <polyline points="17 1 21 5 17 9"></polyline>
                    <path d="M3 11V9a4 4 0 0 1 4-4h14"></path>
                    <polyline points="7 23 3 19 7 15"></polyline>
                    <path d="M21 13v2a4 4 0 0 1-4 4H3"></path>
                </svg></i-feather>
        </div>
        <!----> Sign Up - Teacher
    </a>
    <a class="nav-link active " href="\signup-student">
        <div class="nav-link-icon">
            <i-feather class="icon" style="width: 1rem !important;"><svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" class="feather feather-repeat">
                    <polyline points="17 1 21 5 17 9"></polyline>
                    <path d="M3 11V9a4 4 0 0 1 4-4h14"></path>
                    <polyline points="7 23 3 19 7 15"></polyline>
                    <path d="M21 13v2a4 4 0 0 1-4 4H3"></path>
                </svg></i-feather>
        </div>
        <!----> Sign Up - Student
    </a>
</div>
{% endblock %}
{% block form %}
<div class="signup-form">
    <form action="/signup-student" method="post" onSubmit="return checkPassword(this)">
        <h2>Sign Up</h2>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" name="name" maxlength="30" pattern="[a-zA-Z0-9]+[a-zA-Z0-9 ]+"
                title="Name Must Begin With Letter or Number And Must Contain At Least Two Characters" placeholder="Name"
                    value="{{values.name}}" id="name" required="required">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                <input type="text" pattern="^([0-9]){10}$" title = "Phone Number Must Only Contain Digits And Must Be 10 Digit Long" class="form-control" name="phone" id="phone "
                    value="{{values.phone}}" placeholder="Phone Number" required="required" maxlength="10" minlength = "10">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="email" class="form-control" name="email" id="email" value="{{values.email}}"
                    placeholder="Email Address" required="required">
            </div>
        </div>


        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" name="password" id="password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    title="Password Must Contain At Least 8 Charcters Including A Number , A Lower Case Charcter And A Upper Case Character. "
                    placeholder="Password" required="required">
                <i class="far fa-eye" style="margin-left: 6px; margin-top: 6px;" id="togglePassword"></i>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-lock"></i>
                    <i class="fa fa-check"></i>
                </span>
                <input type="password" class="form-control" name="confirm_password" id="confirm_password"
                    placeholder="Confirm Password" required="required">
                <i class="far fa-eye" style="margin-left: 6px; margin-top: 6px;" id="toggleconfirmPassword"></i>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-lg">Next</button>
        </div>
        <p class="small text-center">By clicking the Next button, you agree to our <br><a href="#">Terms
                &amp; Conditions</a>, and <a href="#">Privacy Policy</a>.</p>
    </form>
    <div class="text-center">Already have an account? <a href="\login">Login here</a>.</div>
</div>
{% endblock %}
{% block scriptfile %}
<script>
    const password = document.getElementById('password');
    const confirm_password = document.getElementById('confirm_password');



    function checkPassword(form) {

        if (password.value == confirm_password.value) {
            let elee = document.getElementById("unknown")
            elee.innerHTML = ""
            return true;
        }
        else {
            let elee = document.getElementById("unknown")
            elee.innerHTML = `<div id = "hello_message" class="alert alert-danger alert-dismissible fade show" role="alert"><span class="mb-0">Your password and confirm password is not matching! Please try again.</span><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div >`
            password.value = ""
            confirm_password.value = ""
            return false;
        }

    }

    const togglePassword = document.querySelector('#togglePassword');
    const togglePassword1 = document.querySelector('#toggleconfirmPassword');
    const password2 = document.querySelector('#password');
    const password1 = document.querySelector('#confirm_password');

    togglePassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = password2.getAttribute('type') === 'password' ? 'text' : 'password';
        password2.setAttribute('type', type);
        // toggle the icon
        this.classList.toggle('fa-eye-slash');

    });
    togglePassword1.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = password1.getAttribute('type') === 'password' ? 'text' : 'password';
        password1.setAttribute('type', type);
        // toggle the icon
        this.classList.toggle('fa-eye-slash');

    });

</script>
{% endblock %}